.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;

  .actions {
    display: flex;
    justify-content: flex-end;

    .home {
      flex: 0;
    }

    div {
      flex: 1;
    }
  }
}
